body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: url("./img/bakground.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
@font-face{
  font-family: 'cow';
  src: url(happycow.ttf)
}
@font-face{
  font-family: 'hay';
  src: url(hay.ttf)
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
